<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.min.js"></script>

<div id="all">
			<div class="container-fluid">
                    <h1 style='text-align: center;'>题目：{{ form.title }}</h1>
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon">
                                        <i class="icon-th-list"></i>
                                    </span>
                                    <h5>时间限制</h5>
                                </div>
                                <div class="widget-content">
                                {{ form.time_limit }}s
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon">
                                        <i class="icon-th-list"></i>
                                    </span>
                                    <h5>内存限制</h5>
                                </div>
                                <div class="widget-content">
                                {{ form.memory_limit }}Mb
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon">
                                        <i class="icon-th-list"></i>
                                    </span>
                                    <h5>难度</h5>
                                </div>
                                <div class="widget-content">
                                {{ form.difficulty }}
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon">
                                        <i class="icon-th-list"></i>
                                    </span>
                                    <h5>来源</h5>
                                </div>
                                <div class="widget-content">
                                {{ form.source }}
                                </div>
                            </div>
                        </div>
                    </div>
				<div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th-list"></i>
								</span>
								<h5>题目描述</h5>
							</div>
							<div class="widget-content">
								{{ form.description }}
							</div>
						</div>
					</div>
				</div>
                <div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th-list"></i>
								</span>
								<h5>输入描述</h5>
							</div>
							<div class="widget-content">
								{{ form.input_description }}
							</div>
						</div>
					</div>
				</div>
                <div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th-list"></i>
								</span>
								<h5>输出描述</h5>
							</div>
							<div class="widget-content">
								{{ form.output_description }}
							</div>
						</div>
					</div>
				</div>
                
				<div class="row-fluid">
					<div class="span6">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th-list"></i>
								</span>
								<h5>输入</h5>
							</div>
							<div class="widget-content">
								{{ form.input }}
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th-list"></i>
								</span>
								<h5>输出</h5>
							</div>
							<div class="widget-content">
								{{ form.output }}
							</div>
						</div>
					</div>
				</div>
                <div class="row-fluid">
					<div class="span12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-th-list"></i>
								</span>
								<h5>提示</h5>
							</div>
							<div class="widget-content">
								{{ form.hint }}
							</div>
						</div>
					</div>
				</div>
			</div>
</div>

<script>
{% if action == 'add' %}
    $(document).ready(function(){
        $("#submit").click(function(){
            $.post("/manage/add/judger/",{'token':$("#token").val(), 'remote':$("#remote").val(), 'port':$("#port").val(), 'ip':$("#ip").val(), 'max':$("#max").val()}, function(ret){
                $('#all').html(ret);
            })
        });
    });
{% else %}
    $(document).ready(function(){
        $("#submit").click(function(){
            $.post("/manage/edit/judger/",{'id':{{ id }}, 'token':$("#token").val(), 'remote':$("#remote").val(), 'port':$("#port").val(), 'ip':$("#ip").val(), 'max':$("#max").val()}, function(ret){
                $('#all').html(ret);
            })
        });
    });
{% endif %}
</script>
