{% extends "base.html" %}

{% load contest %}

{% block content %}
<div id="content">
    <div id="showproblem" class="modal hide modal-test">
                    <div class="modal-header" style="height: 32px;">
                        <button data-dismiss="modal" class="close" type="button">×</button>
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">题目详情</a></li>
                            <li><a data-toggle="tab" id="mysol" value="" href="#tab2">我的提交</a></li>
                        </ul>
                    </div>
            <div class="modal-footer"><a data-dismiss="modal" class="btn btn-primary" href="#">Cancel</a> </div>
        </div>
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="/contest/">Contest</a>
            <a href="/contest/" class="current">{{ contest.title }}</a>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="accordion" id="collapse-group">
                    <div class="accordion-group widget-box">
                        <div class="collapse in accordion-body" id="collapse">
                            <div class="widget-box">
							    <div class="widget-title">
								    <span class="icon">
									    <i class="icon-info-sign"></i>									
								    </span>
								    <h5>请输入进入该比赛的密码</h5>
							    </div>
							    <div class="widget-content nopadding">
								    <form id="passwordform" class="form-horizontal" method="post" action="/contest/password/{{ id }}/">
                                        <div class="control-group">
                                            <label class="control-label">密码</label>
                                            <div class="controls">
                                                <input type="text" id="id_password" name="password" name="required" id="required">
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <input type="submit" value="进入比赛" class="btn btn-success">
                                        </div>
                                    </form>
							    </div>
						    </div>			
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script>
$(document).ready(function(){
    $('#passwordform').bind('submit', function(){
        $(this).ajaxSubmit({
         success: function(data) {
                var url = window.location.search;
                if(data=="密码错误。")
                    alert(data);
                else
                    window.location.href = "/contest/detail/{{ id }}/";
            }
       });
       return false;
    });
});
</script>
{% endblock %}
