{% extends "base.html" %}

{% block content %}
        <div id="content">
            <div id="content-header">
                <div id="breadcrumb">
                    <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
                    <a href="#" class="current">Notice</a>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                                <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon">
                                        <i class="icon-th-list"></i>
                                    </span>
                                    <h5>Notice</h5>
                                </div>
                                <div class="widget-content">
                                {{ error }}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
