{% extends "base.html" %}

{% block content %}
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="/" title="Go to Home" class="tip-bottom current"><i class="icon-home"></i> Home</a></div>
  </div>
  <div  class="quick-actions_homepage">
    <ul class="quick-actions">
          <li> <a href="/solution/my/"> <i class="icon-dashboard"></i> 我的提交 </a> </li>
          <li> <a href="#chat" data-toggle="modal"> <i class="icon-web"></i> 在线交流 </a> </li>
          <li> <a href="/contest/"> <i class="icon-calendar"></i> 赛程查看 </a> </li>
          <li> <a href="#"> <i class="icon-people"></i> 信息管理 </a> </li>
        </ul>
  </div>
  <div id="chat" class="modal hide modal-test">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h3>在线交流</h3>
            </div>
            <div class="modal-body">
                <!--frameset cols="100%">
                    <frame src="http://chat.ustil.cn/" />
                </frameset-->
                <iframe src="http://chat.ustil.cn/" frameBorder="0" height="800" scrolling="no" width="100%"></iframe>
            </div>
            <div class="modal-footer"><a data-dismiss="modal" class="btn btn-primary" href="#">Cancel</a> </div>
   </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12"> 
        <div class="widget-box">
          <div class="widget-title"><span class="icon"><i class="icon-signal"></i></span>
            <h5>提交量</h5>
          </div>
          <div class="widget-content">
            <div class="row-fluid">
              <div class="span12">
                <div class="demo-container">
			        <div id="placeholder" class="demo-placeholder"></div>
		        </div>
              </div>
            </div></div></div>
        <div class="row-fluid">
              <div class="span12">
                <div class="widget-box">
                  <div class="widget-title"> <span class="icon"> <i class="icon-refresh"></i> </span>
                    <h5>最新公告</h5>
                  </div>
                  <div class="widget-content nopadding updates">
                    {% for notice in notices %}
                        <div class="new-update clearfix"> <i class="icon-leaf"></i> <span class="update-done"> <a title="" href="#"><strong>{{notice.title}}</strong></a><span>{{ notice.description|safe }}</span></span> <span class="update-date"><span class="update-day">{{ notice.create_time|date:"d" }}</span>{{ notice.create_time|date:"m" }}</span> </div>
                    {% empty %}
                        <div class="new-update clearfix"> <i class="icon-leaf"></i> <span class="update-done"> <a title="" href="#"><strong>暂无公告</strong></a><span>暂无公告</span></span> <span class="update-date"><span class="update-day">/</span>/</span> </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              
              </div> 
             
          
      </div>
    </div>
    <!--div class="widget-box">
      <div class="widget-content">
        <div class="row-fluid">
          <div class="span6">
            <div class="alert alert-success">We made chat option here, check out by writing something<a href="#" class="close" data-dismiss="alert">×</a></div>
            <div class="widget-box widget-chat">
              <div class="widget-title"> <span class="icon"> <i class="icon-comment"></i> </span>
                <h5>Chat Option</h5>
              </div>
              <div class="widget-content nopadding">
                <div class="chat-users panel-right2">
                  <div class="panel-title">
                    <h5>Online Users</h5>
                  </div>
                  <div class="panel-content nopadding">
                    <ul class="contact-list">
                      <li id="user-Sunil" class="online"><a href=""><img alt="" src="img/demo/av1.jpg" /> <span>Sunil</span></a></li>
                      <li id="user-Laukik"><a href=""><img alt="" src="img/demo/av2.jpg" /> <span>Laukik</span></a></li>
                      <li id="user-vijay" class="online new"><a href=""><img alt="" src="img/demo/av3.jpg" /> <span>Vijay</span></a><span class="msg-count badge badge-info">3</span></li>
                      <li id="user-Jignesh" class="online"><a href=""><img alt="" src="img/demo/av4.jpg" /> <span>Jignesh</span></a></li>
                      <li id="user-Malay" class="online"><a href=""><img alt="" src="img/demo/av5.jpg" /> <span>Malay</span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="chat-content panel-left2">
                  <div class="chat-messages" id="chat-messages">
                    <div id="chat-messages-inner"></div>
                  </div>
                  <div class="chat-message well">
                    <button class="btn btn-success">Send</button>
                    <span class="input-box">
                    <input type="text" name="msg-box" id="msg-box" />
                    </span> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="accordion" id="collapse-group">
              <div class="accordion-group widget-box">
                <div class="accordion-heading">
                  <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span>
                    <h5>Accordion Example 1</h5>
                    </a> </div>
                </div>
                <div class="collapse in accordion-body" id="collapseGOne">
                  <div class="widget-content"> It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end. </div>
                </div>
              </div>
              <div class="accordion-group widget-box">
                <div class="accordion-heading">
                  <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span>
                    <h5>Accordion Example 2</h5>
                    </a> </div>
                </div>
                <div class="collapse accordion-body" id="collapseGTwo">
                  <div class="widget-content">And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</div>
                </div>
              </div>
              <div class="accordion-group widget-box">
                <div class="accordion-heading">
                  <div class="widget-title"> <a data-parent="#collapse-group" href="#collapseGThree" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span>
                    <h5>Accordion Example 3</h5>
                    </a> </div>
                </div>
                <div class="collapse accordion-body" id="collapseGThree">
                  <div class="widget-content"> Waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="widget-box">
              <div class="widget-title">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#tab1">Tab1</a></li>
                  <li><a data-toggle="tab" href="#tab2">Tab2</a></li>
                  <li><a data-toggle="tab" href="#tab3">Tab3</a></li>
                </ul>
              </div>
              <div class="widget-content tab-content">
                <div id="tab1" class="tab-pane active"><p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end. </p>
                  <img src="img/demo/demo-image1.jpg" alt="demo-image"/></div>
                <div id="tab2" class="tab-pane">
                  <img src="img/demo/demo-image2.jpg" alt="demo-image"/><p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end. </p></div>
                <div id="tab3" class="tab-pane"><p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end. </p>
                  <img src="img/demo/demo-image3.jpg" alt="demo-image"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div-->
    
  </div>
</div>
{% endblock %}

{% block beforjs %}
<script src="/static/js/excanvas.min.js"></script> 
{% endblock%}
{% block js %}
    <link href="/static/css/examples.css" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.js"></script>
	<script type="text/javascript">
	$(function() {
		var data = [],
			totalPoints = 300;
		function getRandomData() {
			if (data.length > 0)
				data = data.slice(1);
			while (data.length < totalPoints) {
				var prev = data.length > 0 ? data[data.length - 1] : 50,
					y = prev + Math.random() * 10 - 5;
				if (y < 0) {
					y = 0;
				} else if (y > 100) {
					y = 100;
				}
				data.push(y);
			}
			var res = [];
			for (var i = 0; i < data.length; ++i) {
				res.push([i, data[i]])
			}
			return res;
		}

		var updateInterval = 300;
		var plot = $.plot("#placeholder", [ getRandomData() ], {
			series: {
				shadowSize: 0	// Drawing is faster without shadows
			},
			yaxis: {
				min: 0,
				max: 100
			},
			xaxis: {
				show: false
			}
		});
		function update() {
			plot.setData([getRandomData()]);
			plot.draw();
			setTimeout(update, updateInterval);
		}
		update();
	});
	</script>
{% endblock%}
